[Unit]
Description=service
After=network.target unbound.service

[Service]
Type=oneshot

ExecStart=docker-compose -f /usr/local/src/docker-containers/web/unbound/docker-compose.yaml start ad_blocking
ExecStartPost=docker-compose -f /usr/local/src/docker-containers/web/unbound/docker-compose.yaml restart unbound

# filesystem access
ProtectSystem=strict
ProtectHome=true
PrivateTmp=true
PrivateDevices=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
ReadWritePaths=/var/lib/docker/volumes/unbound-conf/

# network
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6

# misc
NoNewPrivileges=true
PrivateUsers=true
RestrictRealtime=true
MemoryDenyWriteExecute=true
ProtectKernelLogs=true
LockPersonality=true
ProtectHostname=true
RemoveIPC=true
RestrictSUIDSGID=true
ProtectClock=true
RestrictNamespaces=true

# capabilities
CapabilityBoundingSet=
AmbientCapabilities=
SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM
