server:
	trust-anchor-file: "/usr/share/dnssec-root/trusted-key.key"

	interface: 0.0.0.0
	interface: ::
	port: {PORT}
	tls-port: {TLS_PORT}

	tls-service-pem: "{TLS_SERVICE_PEM}"
	tls-service-key: "{TLS_SERVICE_KEY}"

	tls-cert-bundle: "/etc/ssl/certs/ca-certificates.crt"

python:

dynlib:

remote-control:
	control-enable: yes
	control-interface: /run/unbound.control.sock
